---
layout: page
title: Archive
---

<div class="posts">
  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      <h3>{{ currentdate }}</h3>
      {% assign date = currentdate %} 
    {% endif %}

    <article>
      <span class="post-date">{{ post.date | date: "%b %d" }}</span>
      ~>
      <span class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </span>
    </article>

  {% endfor %}
</div>
