---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%d %b %Y' }}</time>
  {{ content }}
</div>

<div id="comments">
  <h2>Comments</h2>
  <div>
    Want to leave a comment? Visit <a href="{{site.github.issue_url | replace: '<issue-id>', page.issueId}}">this post's issue page on GitHub</a>.
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script type="text/javascript" src="/js/comments.js"></script>
<link rel="stylesheet" href="/css/comments.css">

<script>
  $(function() {
    fetchComments("{{ site.github.comments_url | replace: '<issue-id>', page.issueId }}");
  })
</script>


